<% layout('tpl/layout.html') -%>
<% block('css').append('<link rel="stylesheet" href="/css/module/companyCertify.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/include/mypublish.css"/>') %>
<style>
    .nextStepBtn{
        background-color: #29abe2;
        border: none;
    }
    .nextStepBtn:hover{
        background-color: #00a8c6;
    }
</style>

<div class="container g-body">
    <div class="companyCertify">
        <div class="cc_title"><p>个人认证</p></div>

        <div class="cc_content">
            <ul class="nav nav-tabs">
                <li class="li_one selected" style="width: 33.3%">填写个人信息</li>
                <li class="li_two" style="width: 33.3%">填写银行账号信息</li>
                <li class="li_three" style="width: 33.3%">等待审核</li>
            </ul>
        </div>

        <div class="cc_title"style="font-size: 15px;margin-top: 10px;border-bottom: solid 1px grey">个人基本信息</div>

        <div class="form-group">
            <label for="name">个人姓名<span>*<span style="float: right"> ⊖ 请输入个人姓名</span></span></label>
            <input id="name" class="form-control" type="text" placeholder="">

            <label for="phone">手机号码<span>*<span style="float: right">⊖ 请输入手机号码</span> </span></label>
            <input id="phone" class="form-control" type="text" placeholder="">

            <label for="sfzhm">身份证号码<span>*<span style="float: right">⊖ 请输入个人身份证号码</span></span></label>
            <input id="sfzhm" class="form-control" type="text" placeholder="">

            <label for="zm">身份证正面扫描件<span>*<span style="float: right">⊖ 请上传身份证正面扫描件</span></span></label>
            <div class="col-lg-6" style="padding: 0;width: 600px;float: none">
                <div class="input-group">
                    <input id="zm" class="form-control" type="text" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" style="width: 100px;height: 40px" onclick="comCardFile.click()"type="button">选择文件</button>
                        <input id="comCardFile2" type="file" style="display: none" onchange="comCardFilename.value=this.value">
                    </span>
                </div>
                <span style="color: grey">图片大小1M以内，支持PNG/JPG格式</span>
            </div>

            <label for="fm">身份证反面扫描件<span>*<span style="float: right">⊖ 请输入身份证反面扫描件</span> </span></label>
            <div class="col-lg-6" style="padding: 0;width: 600px;float: none">
                <div class="input-group">
                    <input id="fm" class="form-control" type="text" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" style="width: 100px;height: 40px" onclick="comCardFile.click()"type="button">选择文件</button>
                        <input id="comCardFile" type="file" style="display: none" onchange="comCardFilename.value=this.value">
                    </span>
                </div>
                <span style="color: grey">图片大小1M以内，支持PNG/JPG格式</span>
            </div>

            <div class="nextStepBtn">下一步</div>

        </div>
    </div>
</div>