<% layout('tpl/layout.html') -%>
<% block('css').append('<link rel="stylesheet" href="/css/module/aboutUS.css"/>') %>
<% block('css').append('<link rel="stylesheet" type="text/css" href="mobile/fonts/bootstrap.min.css">') %>

<div class="container" style="height:0px;width: 900px;">
    <div class="text-center itemLine">
        <img src="img/platform/images1.png" style="margin: 40px auto"/>
    </div>
    <div class="itemText itemLine">
        <ul>
            <li style="padding-bottom: 15px">
                <span>2016年1月28日,中关村大数据产业联盟数据交换标准委员会在北京成立。</span>
            </li>
            <li style="padding-bottom: 30px">
                <span>委员会隶属于中关村大数据产业联盟,并提供开源的大数据交换流通平台DataHub(https://hub.dataos.io),共同致力于
                        搭建开放的数据网络,促进跨行业的数据流通合作,推动行业大数据创新应用场景大落地,为大数据交换标准和行业大数据应用规范
                        体系的建立做出贡献。</span>
            </li>
        </ul>
    </div>
    <div style="float: left;width: 100%">
        <div class="itemName">我们的使命</div>
        <div class="container text-center" style="width: 900px;padding-left: 0px;padding-right: 0px">
            <div style="width: 13%;float: left;padding-left: 20px">
                <div><img src="img/platform/images2.png" /> </div>
                <div class="zi">聚合数据资源</div>
            </div>
            <div style="width: 20.7%;float: left;padding-left: 90px">
                <div><img src="img/platform/images3.png" /> </div>
                <div class="zi">搭建连接平台</div>
            </div>
            <div style="width: 20.7%;float: left;padding-left: 90px">
                <div><img src="img/platform/images4.png" /> </div>
                <div class="zi">促进数据流通</div>
            </div>
            <div style="width: 21%;float: left;padding-left: 90px">
                <div><img src="img/platform/images5.png" /> </div>
                <div class="zi">规范数据管理</div>
            </div>
            <div style="width: 23%;float: right;padding-left: 90px;padding-right: 20px">
                <div><img src="img/platform/images6.png" /> </div>
                <div class="zi">制定交换标准</div>
            </div>

        </div>
    </div>


</div>
<div class="container" style="width: 900px;height: 300px"></div>