<% include tpl/iteminfo.html %>
<% block('css').append('<link rel="stylesheet" href="/plugin/pagination/pagination.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/include/editormd.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/include/replyto.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/module/itemdetails.css" />') %>

<script>
    var reponame='<%=reponame%>';
    var itemname='<%=itemname%>';
    var discuss='<%=discuss%>';
</script>
<% block('js').append('<script src="/plugin/qrcode.js"></script>') %>
<% block('js').append('<script src="/plugin/pagination/jquery.pagination.js"></script>') %>
<% block('js').append('<script src="/plugin/clipboard.min.js"></script>') %>
<% block('js').append('<script src="/plugin/marked.js"></script>') %>
<% block('js').append('<script src="/js/replyTo.js"></script>') %>
<% block('js').append('<script src="/js/util/modelcen.js"></script>') %>
<% block('js').append('<script src="/js/widget/iteminfo.js"></script>') %>
<% block('js').append('<script src="/js/pagescript/itemdetails.js"></script>') %>
<% block('js').append('<script src="/plugin/ZeroClipboard.min.js"></script>') %>

<div class="container">
    <div id="wrap">
        <div id="main">
            <div id="main-left">
                <div id="left_title">
                    <div id="LT_left">
                        <div id="LT_left_title">
                                <div id="titleName">
                                    <a><span class="reponame"></span></a>
                                    <span>/</span>
                                    <span class="itemname"></span>
                                </div>
                                <span class="line"></span>
                        </div>
                        <!--在线或离线-->
                        <div id="LT_left_icon">
                            <div><span id="icon_buy"data-toggle="tooltip" data-placement="top" data-original-title="订购量" ></span><p id="icon_buy_num">0</p></div>
                            <div><span id="icon_download" data-toggle="tooltip" data-placement="top" data-original-title="下载量" ></span><p id="icon_download_num">0</p></div>
                            <div style="float:left; margin-left: 146px;"><span id="icon_heart"data-toggle="tooltip" data-placement="top" data-original-title="点赞量" ></span><p id="icon_heart_number">0</p></div>

                            <div class="alert_login">
                                <p> 您还没有登录，请<a><model m-text="登录" m-title="登录" m-href="login" m-width="300"></model></a></p>
                            </div>

                            <div id="qrcodeBox">
                                <div id="small-qrcode"><span></span>分享到微信</div>
                                <div id="big-qrcode"><p>微信扫码</p><span></span></div><!--//放大图-->
                            </div>

                        </div>

                        <!--<div><p id="share" style="display: inline-block;"><span></span>分享到朋友圈</p></div>-->
                    </div>
                    <div id="LT-right">
                        <span style="position: absolute"></span><!-- 存planid -->
                        <span style="position: absolute"></span>
                        <div>
                            <select class="form-control price-style">
                                <!--<option value="1">18-2118-2118-21</option>-->
                                <!--<option value="2">22-2518-2118-21</option>-->
                            </select>
                        </div>
                        <div id="button_buy">
                            <p id="price_plan">限量试用</p>
                            <button id="hurry_buy" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button">立刻订购</button>
                            <button id="apply_buy" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button">申请订购</button>
                            <button id="cancel_buy" href="javascript:void(0)" class="btn btn-primary btn-lg" role="button">取消订购</button>
                            <div id="upcoming_release">该数据即将发布</div>
                        </div>
                        <p id="cance_alert">您已取消成功！</p>
                        <p id="myself_alert">您不能订购自己的数据。</p>
                        <p id="limit_buy_alert">您的有限额度已用完，<br>请选择其他计费包。</p>

                    </div>
                </div>
                <div id="left_nav" class="hd">
                    <p id="nav3"  class="borderBt">详细说明</p>
                    <p id="nav2">样例</p>
                    <p id="nav1">Tag<sup><span>335</span></sup></p>
                    <p id="nav4">评论 <sup><span class="commentallnum">0</span></sup></p>
                </div>
                <div id="left_contentALL">
                    <div id="left_unit" class="metadata-body markdown-body">
                        <!--<p>详细说明</p>-->
                        <p></p>
                    </div>
                    <div id="left_exam" class="metadata-body markdown-body">
                        <p>样例</p>
                        <p></p>
                    </div>
                    <div id="left_content" class="bd">
                        <div class="left_content_con">
                            <!--<div class="content" id="content0" style="display: none;">-->
                            <!--<div class="content1_title">-->
                            <!--<p>TagTagTagTagTagTagTagTagTagTagTagTagTagTagT</p>-->
                            <!--<p>亚信亚信亚信亚信亚信亚信亚信亚信亚信亚信亚信亚信</p>-->
                            <!--</div>-->
                            <!--<div class="content1_time">-->
                            <!--<span></span><span>2分钟以前</span>-->
                            <!--</div>-->
                            <!--<div class="content1_pullNumber">-->
                            <!--<span></span><span>Pull:0</span>-->
                            <!--</div>-->
                            <!--<div class="content1_copy">-->
                            <!--<div><input type="text"><button>复制</button></div>-->
                            <!--</div>-->
                            <!--<div class="content1_download">-->
                            <!--<span></span><p>890266</p>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="left_content_page" style="float: right;">
                        </div>
                    </div>
                    <div id="left_comment" class="">
                        <!-- 评论-------------------------------------------------------------------------------------->
                        <!--<div class="commentwrop">-->
                            <!--<textarea name="" id="commentcon"></textarea>-->
                            <!--<div class="conmentbt">-->
                                <!--<div class="commentnums">还可以输入<span class="surplusnum">210</span>字，已超出<span class="exceednum">0</span>字</div>-->
                                <!--<div class="publish_btn" id="pushcon_btn">评论</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="commentList">-->

                        <!--</div>-->
                        <!--<div class="conmentpages"></div>-->
                        <!-- 评论-------------------------------------------------------------------------------------->
                    <div id="repoactive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--签约订购-->
<div id="subscriptDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" id="p-modal">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 0px; margin-top: 4px;"></button>
                <h4 class="modal-title" id="myModalLabel">数据订购合约</h4>
            </div>
            <div class="subcontent">
                <div class="body"><!---->
                    <div class="sub0">
                        <div class="requirera">
                            <span class="ptext">数据需求方（甲方）：</span>
                            <input class="itext" type="text">
                        </div>
                        <div class="requirerb">
                            <span class="ptext">数据提供方（乙方）：</span>
                            <input class="itext" type="text">
                        </div>
                    </div>
                    <div class="sub1">
                        <div class="shead">一、服务内容</div>
                        <div class="sbody">
                            乙方向甲方提供名为“<span class='repnamePm'></span>/<span class='itemnamePm'></span>”的数据服务，乙方保证所提供数据的内容与“<span class='repnamePm'></span>”描述，“<span class='itemnamePm'></span>”描述、样例数据、元数据申明的一致，并保障数据质量。
                        </div>
                    </div>
                    <div class="sub2">
                        <div class="shead">二、双方权利与义务</div>
                        <div class="sbody">
                            <div>1、若由于乙方原因导致用户订购的数据内容无法完整获取，则乙方全额退回本次订购的全部款项。</div>
                            <div>2、若乙方提供的数据与申明不符，甲方可向DataHub平台申请，将本次订购无效。若经过平台方介入鉴定，并与双方协商认为乙方提供的数据与申明不符，则本次订购无效。若经过平台方介入鉴定，并与双方协商认为乙方提供的数据与申明相符，则本次订购有效。</div>
                            <div>3、乙方拥有发布于DataHub平台的“<span class='repnamePm'></span>/<span class='itemnamePm'></span>”的数据版权。</div>
                        </div>
                    </div>
                    <div class="sub3">
                        <div class="shead">三、数据提供服务费用标准</div>
                        <div class="sbody">
                            <div class="charge-head">本次数据服务费用标准如下：</div>
                            <div class="charge-body">
                            </div>
                        </div>
                    </div>
                    <div class="sub4">
                        <div class="shead">四、甲方向乙方支付费用的方式</div>
                        <div class="sbody">
                            <div>1、甲方同意所选择的数据服务内容及价格，向DataHub平台申请订购。</div>
                            <div>2、DataHub平台冻结本次订购资金成功后，生成订购关系。</div>
                            <div>3、具体数据服务履行完毕后，30天内，若甲方对数据服务的质量和内容无异议，则本次订购产生的费用正式转到乙方账户。若对数据服务的质量和内容有异议，则可向平台方进行申诉。若经过平台方鉴定，并与双方协商认为乙方提供的数据与申明不符，则本次订购无效，本次订购费用返还给甲方。若经过平台方介入鉴定，并与双方协商认为乙方提供的数据与申明相符，则本次订购有效，本次订购费用正式转到乙方账户。</div>
                        </div>
                    </div>
                    <div class="subdate">
                        <span class="dtitle">签约日期：</span>
                        <span class="dvalue">2015年12月1日</span>
                    </div>
                    <div class="subbtns">
                        <input class="cancel" type="button" value="取消">
                        <input class="submit" type="button" value="签约">
                    </div>
                </div>
            </div>
            <div class="subprocess" style="display: none">
                <span>正在签约,</span>
                <span class="midle">60S</span>
                <span>内反馈结果,请稍等~</span>
            </div>
            <div class="subafterprocess">
                <div class="successed"  style="display: none;height: 188px;">
                    <div class="head">
                        <span class="icon"></span>
                        <span class="text">签约成功！</span>
                    </div>
                    <div class="body" style="padding:0px 30px 10px 30px;">
                        您可以用Client端Pull数据啦~
                    </div>
                    <div class="btn-group">
                        <div role="group" class="btn-group btn-group-02" style="margin-bottom: 0px; margin-top: 15px; width: 220px;">
                            <button class="knows" class="close" data-dismiss="modal"  class="btn btn0" type="button">我知道了</button>
                        </div>
                    </div>
                </div>
                <div class="successed_apply"  style="display: none;height: 188px;">
                    <div class="head">
                        <span class="icon"></span>
                        <span class="text" >您的订购申请已收到！</span>
                    </div>
                    <div class="body" style="padding:0px 20px 10px 20px;">
                        审核通过后将以消息和邮件方式通知您。
                    </div>
                    <div class="btn-group">
                        <div role="group" class="btn-group btn-group-02" style="margin-bottom: 0px; margin-top: 15px; width: 220px;">
                            <button class="knows" class="close" data-dismiss="modal" class="btn btn0" type="button">我知道了</button>
                        </div>
                    </div>
                </div>
                <div class="failed"  style="display: none; height: 188px;">
                    <div class="head">
                        <span class="icon"></span>
                        <span class="text">账户余额不足，签约失败！</span>
                    </div>
                    <div class="body" style="padding: 0px 20px 10px; width: 370px;">
                        <span class="statictext">请发送邮件至</span>
                        <span class="email">datahub@asiainfo.com</span>
                    </div>
                    <div class="btn-group">
                        <div role="group" class="btn-group btn-group-02" style="margin-bottom: 0px; margin-top: 15px; width: 220px;">
                            <button class="knows" class="close" data-dismiss="modal" class="btn btn0" type="button">我知道了</button>
                        </div>
                    </div>
                </div>
                <div class="failed2"  style="display: none;height: 140px;">
                    <div class="head">
                        <span class="icon"></span>
                        <span class="text">订购申请失败！</span>
                    </div>
                    <div class="btn-group">
                        <div role="group" class="btn-group btn-group-02" style="margin-bottom: 0px; width: 220px;">
                            <button class="knows" class="close" data-dismiss="modal" class="btn btn0" type="button">我知道了</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

