<div class="pomisiondelwrop">
    <div class="ListboxLeft">
        <div>
            <div id="delmorecooper">[删除]</div>
            <div id="delallcooper">[清空协作者]</div>
        </div>

        <div class="privatelistboxwrop">
            <div style="height: 30px;margin-top:10px;">
                <div style="width:250px" class="container" id="messcooper"></div>
            </div>
            <div class="pomisionesearchwrop">
                <input type="text" placeholder="请输入协作者的注册邮箱" id="privatecooper" class="form-control">
                <div class="searchcooper" id="searchcooper"></div>
            </div>
            <div style="margin-top:15px;" id="cooListBox" modal-reponame="">
                <div datareponame="caory@asiainfo.com" class="perList">
                    <div class="perListcon"><input type="checkbox" name="users" style="margin-left:10px;margin-right:6px;" class="ischeck">caory@asiainfo.com</div>
                    <div class="delthisper"><a datareponame="caory@asiainfo.com" href="javaScript:void(0);" class="delper">[删除]</a></div>
                </div>
            </div>
            <div class="coopage"></div>
            <div class="privategobackbtnwrop" style="margin-top: 5px;"><span class="gobackprivatecooperList">[返回]</span></div>
        </div>
    </div>
<!--leftBox-->
    <div class="ListboxCenter">
        <div id="addpricoo">&lt;&lt;添加为协作者</div>
    </div>
<!--centerBox -->
    <div class="ListboxRight">
        <div style="width:100%;margin-bottom:10px;">白名单</div>
        <div class="privatelistboxwrop">
            <div style="height: 30px;margin-top:10px;">
                <div style="width:250px" class="container" id="messcooperatorprivate"></div>
            </div>
            <div style="padding: 0px;width:100%;">
                <div class="pomisionesearchwrop"><input type="text" placeholder="请输入白名单用户的注册邮箱" id="privatepomision" class="form-control">
                    <div class="searchcooper" id="searchpomisionemailTest"></div>
                </div>
                <div style="margin-top:15px;" id="perListBox" modal-reponame="REPOSDF">
                    <div datareponame="caory@asiainfo.com" class="perList">
                        <div class="perListcon"><input type="checkbox" name="users" style="margin-left:10px;margin-right:6px;" class="ischeck">caory@asiainfo.com</div>
                        <div class="delthisper"><a datareponame="caory@asiainfo.com" href="javaScript:void(0);" class="delper">[删除]</a></div>
                    </div>
                </div>
                <div class="perpage"></div>

            </div>
            <div style="margin-top:5px;" class="gobackbtnwropcoo"><span class="gobackcooperator">[返回]</span></div>
        </div>

    </div>
</div>
<link rel="stylesheet" href="/css/module/modelcooper.css"/>
<!--<script src="/js/modelper.js"></script>-->
