<style>
	.btnblue{
	    height:100%;
	    width:100%;
	    padding:2px 16px;
	    background-color:#29abe2 !important;
	    border-color:#29abe2 !important;
	    margin:10px auto;
	    border:0;
	    color:white;
	    border-radius:8px;
	    background-color: #e3e3e3;
	    color: #fff;
	    font-size: 18px;
	    font-weight: 700;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	}
	.btnblue:hover{
	    background-color:#1998ce !important;
	}
</style>

<div class="modelcertify">
	<div>确认以上资料正确？</div>
	<div>
		<div class="nextStepBtn" style="width: 45%;display: inline-block;">取消</div>
		<button class="btnblue" style="width: 45%;display: inline-block;" @click="login">确认</button>
	</div>
</div>

<script src="/js/widget/modelcertify.js"></script>
