
<link rel="stylesheet"  href="/css/module/modelpw.css">
<div class="backlog-title">
    <p class="backlog-title-p1"><span></span>重置密码链接发送成功</p>
    <p class="backlog-title-p2">请在24小时内登陆您的邮箱激活</p>
</div>
<div class="btn" id="signs4">
    <model m-text="返回登录" m-title="datahub登录" m-href="login" m-width="300"></model>
</div>
<div style="margin-top: 15px; margin-bottom: 0px;">
    <p class="text-center">还没有账号？申请成为会员
        <a href="mailto:datahub@asiainfo.com?subject=申请成为Datahub会员">
            <img class="shens" title="申请注册" src="/img/images02_158.png">
        </a>
    </p>
</div>
