<div class="pomisiondelwrop">
    <div style="height: 30px">
        <div style="" class="container" id="mess"></div>
    </div>
    <input type="text" placeholder="请输入白名单用户的注册邮箱" id="emailTest" class="form-control emailInput">
    <button id="inList" class="btn btn-primary perBtn">添加到白名单</button>
    <button id="seList" class="btn btn-primary perBtn">在列表中查找</button>
</div>
<div style="width: 100%;overflow: hidden">
    <span class="delmore">[删除]</span>
    <span class="delAll">[清空白名单]</span>
</div>
<div class="" id="modalRep_list" style="padding:0px;">
    <!--<div datareponame="" class="perList">-->
        <!--<div class="perListcon"><input type="checkbox" name="users" class="ischeck" style="margin:0px 6px 0px 10px">caory@asiainfo.com</div>-->
        <!--<div class="delthisper"><a datareponame="" ;="" href="javaScript:void(0)" class="delper">[删除]</a></div>-->
    <!--</div>-->

</div>
<div class="pages"></div>
<div class="gobackWrop"><span class="back_btn">[返回]</span></div>
<link rel="stylesheet" href="/css/module/modelper.css"/>
<script src="/js/modelper.js"></script>
<script src="/js/widget/test.js"></script>