<% layout('tpl/layout.html') -%>
<% block('css').append('<link rel="stylesheet" href="/css/module/platform.css"/>') %>
<% block('css').append('<link rel="stylesheet" type="text/css" href="mobile/fonts/bootstrap.min.css">') %>

    <div class="container" style="width: 900px">
        <div class="text-center" style="height: 180px;padding: 50px 130px;border-bottom: 1px solid #cacaca">
            <div class="itemName">DataHub</div>
            <div class="itemName">平台介绍</div>
        </div>
        <div class="itemText">
            <ul>
                <li style="padding-bottom: 15px">
                    <span>DataHub是数据链接平台,是数据链接的工具。</span>
                </li>
                <li>
                    <span>DataHub是一个中立的数据流通服务平台,旨在通过提供开源的数据流通协议,为各行各业的客户提供便利的数据流通通道,将DataHub打造
                        为公正的第三方数据链接平台,面向全社会链接数据需求方、数据拥有方、独立数据分析方、其它数据平台,打造数据流通产业链。</span>
                </li>
            </ul>
        </div>
        <div class="itemDiv container" style="width: 790px">
            <div class="itemDivBlock" style="border-bottom: 1px solid #cacaca">
                <img src="img/platform/images-01_07.png"/>
            </div>
            <div class="itemDivBlock" style="border-bottom: 1px solid #cacaca">
                <img src="img/platform/images-01_16.png"/>
            </div>
            <div class="itemDivBlock">
                <img src="img/platform/images-01_18.png"/>
            </div>
        </div>

        <!--<div class="itemDiv container" style="width: 900px">-->
            <!--<div class="itemDivBlock" style="border-bottom: 1px solid #cacaca">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="itemDiv" style="height: 200px"></div>-->
    </div>
