<!--<% layout('tpl/layout.html') -%>-->

<!--<% block('css').append('<link rel="stylesheet" href="plugin/pagination/pagination.css" />') %>-->
<!--<% block('css').append('<link rel="stylesheet" href="css/module/replyTo.css" />') %>-->

<!--<% block('js').append('<script src="plugin/pagination/jquery.pagination.js"></script>') %>-->
<!--<% block('js').append('<script src="js/replyTo.js"></script>') %>-->

   <!--<div id='repoactive'></div>-->
<model m-text="协作者" m-title="白名单管理" m-href="cooper" m-width="800" id="preBox"></model>
<model m-text="白名单" m-title="白名单管理" m-href="per" m-width="600"  id="preBox"></model>


