<% include tpl/iteminfo.html %>

<% block('css').append('<link rel="stylesheet" href="/plugin/pagination/pagination.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/module/publicRepoList.css" />') %>
<% block('css').append('<link rel="stylesheet" href="/css/include/repodetails.css" />') %>
<script>
    var thisReponame='<%=thisReponame %>';
</script>
<% block('js').append('<script src="/js/publicRepoList.js"></script>') %>
<% block('js').append('<script src="/plugin/pagination/jquery.pagination.js"></script>') %>
<% block('js').append('<script src="/js/widget/pullList.js"></script>') %>
<div class="repodetailsWrop">
    <div class="repotitle">
        <p class="titlename"><a class="repname" href="javascript:void(0);"></a></p>
        <div class="titleicon">
            <img title="" datapalecement="top" data-toggle="tooltip" alt="" src="/img/newpic008.png" data-original-title="点赞量">
            <span class="starnum"></span>
            <img title="" datapalecement="top" data-toggle="tooltip" alt="" src="/img/newpic006.png" data-original-title="订购量">
            <span class="repdnum"></span>
            <img title="" datapalecement="top" data-toggle="tooltip" alt="" src="/img/newpic007.png" data-original-title="下载量">
            <span class="numpulls"></span>
            <img title="" datapalecement="top" data-toggle="tooltip" alt="" src="/img/images_37.png" data-original-title="评论量">
            <span class="numcomments"></span>
        </div>
    </div>
    <div id='repoactive'></div>
    <div class="pages"></div>
</div>


