<% layout('tpl/layout.html') -%>

<% block('js').append('<script src="/js/pagescript/vuecommon.js"></script>')%>
<% block('js').append('<script src="/js/pagescript/cercompany.js"></script>')%>
<% block('js').append('<script src="/js/tt1.js"></script>')%>
<div id="bodycon">
 	<!-- <a1></a1>	 -->    
 	
 	<button id="tt">测试</button>
 	
</div>






<!-- 123

<model m-text="测试" m-title="测试" m-href="video" m-width="300"></model>

<video width="320" height="240" controls="controls" src="/movie.ogg"  autoplay="autoplay"></video>
 
 <model m-text="测试" m-title="测试" m-href="video" m-width="300"></model>
      <video src="/movie.ogg" poster="poster.jpg" onclick="playPause()" ></video>
    <script type="text/javascript">

function playPause() {
 
       var myVideo = document.getElementsByTagName('video')[0];
       myVideo.play();
       if (myVideo.paused){
 
           myVideo.play();
}
       else{
 
           myVideo.pause();
}
       }
    </script>
    
-->      