.montop {
    color: #333333;
    font-size: 27px;
    padding-top: 40px;
}
.montitle1 {
    background: rgba(0, 0, 0, 0) url("/img/monitor1.png") no-repeat scroll left center;
}
.montitle {
    color: #333333;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-top: 40px;
    padding-left: 40px;
    width: 100%;
}
.borderb {
    border-bottom: 1px dashed #ccc;
}
.monitorbox {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}
.monitorboxTop {
    background: #999999 none repeat scroll 0 0;
    height: 30px;
    width: 100%;
}
.monitorboxCon {
    background: #000000 none repeat scroll 0 0;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
}
.monitorboxCon div {
    color: #ffffff;
    font-size: 18px;
}
.nobg_p {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
}
.monitorboxCon div span {
    font-size: 14px;
}
.stateicon {
    border-radius: 8px;
    display: inline-block;
    height: 15px;
    margin: 0 10px 0 7px;
    width: 15px;
}
.stateiconrgred {
    background: red none repeat scroll 0 0;
}
.montitle2 {
    background: rgba(0, 0, 0, 0) url("/img/monitor2.png") no-repeat scroll left center;
}
.recordcon {
    height: 460px;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-left: 20px;
}
.recordconList {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
.statecolorgred {
    color: red;
}
.stateiconrgre {
    background: #59d11e none repeat scroll 0 0;
}
.statecolorgre {
    color: #59d11e;
}