a:focus, a:hover{
	color: #fff;
}
.navbar-brand, .navbar-nav > li > a{
	text-shadow: none;
}
.g-body{
	padding:0px; margin-top:140px;margin-bottom:100px;
}
.g-ft{
	background-color: #f9f9f9; height: 50px;
}
.g-ft p{
	margin-top:18px;color:#969696;font-size: 12px;
}

a:hover{
	color: #395289;
	text-decoration: underline;
}