body{
    margin:0px;
    padding:0px;
    background-color:#f5f5f5;
}
#background{
    padding:20px 0px 70px 0px;


}
.title{
    width:100%;
    float:left;
    margin-bottom:15px;

}
.title h1{
    font-size:20px;
    color:#000;
    /*	font-family:"微软雅黑";*/
    font-weight:bold;

}

.main{
    background-color:white;
    width:100%;
    float:left;

}
.main:after{
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
.synopsis{
    background-color: white;
    border-bottom: 1px dashed #000;
    float: left;
    margin: 0 20px;
    height:249px;

}
.synopsis ol{
    list-style:inside none disc;
    padding-left: 0px;
}
.synopsis .p1{
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
    text-indent:2em;
}
.synopsis .p2{
    color: #333;
    font-size: 16px;
    line-height: 30px;
    margin: -18px 0px;
    text-indent:2em;
}
ol{
    margin-top:18px;
}
ol li{
    color: #333;
    font-size: 16px;
    line-height: 30px;
    text-indent:2em;
}
ol li p{
    color: #29abe2;
    display:inline;
}
.upgradScheme{
    margin-top:30px;
    height:480px;
    float:left;
    width:100%;

}
.upgradScheme h4{
    margin:0 20px;
    font-weight:bold;
}

table,tr,th,td{
    border: 1px solid white;

}
table td{
    padding-left:10px;
    font-size:16px;
}
table{
    width:1128px;
    height:396px;
    margin:20px 20px;
    background-color:#eef5f9;
}

table .td1{
    background-color:#ec6467;
    width:216px;
    color:#fff;
    font-size:16px;

}
.td11 p{
    color:#fff;
    font-size:18px;
    margin:auto auto;
    display:inline;
    text-align:center;
    margin-left:5px;

}
.icon1{
    margin-top:0px;
    background-image: url('/img/member_icon.png');
    background-repeat: no-repeat;
    background-position: 91% 11%;
    display:inline-block;
    width:30px;
    height:30px;

    margin-bottom:-8px;


}
.td12 p{
    color:#333;
    font-size:18px;
    margin:auto auto;
    display:inline;
    text-align:center;
    font-weight:bold;
    margin-left:5px;
}
.td12 div p{
    display:block;
}
.icon2{
    margin-top:0px;
    background-image: url('/img/member_icon.png');
    background-repeat: no-repeat;
    background-position: 2% 40%;
    display:inline-block;
    width:40px;
    height:40px;
    margin-bottom:-15px;


}
.td13 p{
    color:#333;
    font-size:18px;
    margin:auto auto;
    display:inline;
    text-align:center;
    font-weight:bold;
    margin-left:5px;

}
.td13 div p{
    display:block;
}
.icon3{
    margin-top:0px;
    background-image: url('/img/member_icon.png');
    background-repeat: no-repeat;
    background-position: 2% 40%;
    display:inline-block;
    width:40px;
    height:40px;
    margin-bottom:-15px;


}
.td14 p{
    color:#333;
    font-size:18px;
    margin:auto auto;
    display:inline;
    text-align:center;
    font-weight:bold;
    margin-left:5px;

}
.td14 div p{
    display:block;
}
.icon4{
    margin-top:0px;
    background-image: url('/img/member_icon.png');
    background-repeat: no-repeat;
    background-position: 2% 40%;
    display:inline-block;
    width:40px;
    height:40px;
    margin-bottom:-15px;


}
.td15 p{
    color:#333;
    font-size:18px;
    margin:auto auto;
    display:inline;
    text-align:center;
    font-weight:bold;
    margin-left:5px;

}
.icon5{
    margin-top:0px;
    background-image: url('/img/member_icon.png');
    background-repeat: no-repeat;
    background-position: 2% 40%;
    display:inline-block;
    width:40px;
    height:40px;
    margin-bottom:-15px;


}
table .tdx{
    background-color:#f5f5f5;
    width:227px;

}
.row1 td{
    height:96px;
    text-align:center;
    padding-right:10px;

}
.row2 .tdx,.row3 .tdx,.row4 .tdx,.row5 .tdx,.row6 .tdx,.row7 .tdx{
    height:50px;
    color:#333;
    padding-left:35px;
}


/*按钮组*/
.btn1{
    height:28px;
    width:160px;
    padding:2px 16px;
    background-color:#29abe2 !important;
    border-color:#29abe2 !important;
    margin:10px auto;
    border:0;
    color:white;
    border-radius:5px;
}
.btn1:hover{
    background-color:#1998ce !important;
}
.btn2{
    height:28px;
    width:160px;
    padding:2px 16px;
    background-color:#29abe2 !important;
    border-color:#29abe2 !important;
    margin:10px auto;
    border:0;
    color:white;
    border-radius:5px;
}
.btn2:hover{
    background-color:#1998ce !important;
}
.btn3{
    height:28px;
    width:160px;
    padding:2px 16px;
    background-color:#29abe2 !important;
    border-color:#29abe2 !important;
    margin:10px auto;
    border:0;
    color:white;
    border-radius:5px
}
.btn3:hover{
    background-color:#1998ce !important;
}
/*按钮弹出框样式*/
.window1{
    width:350px;
    height:130px;
    border:5px solid #e5e5e5;
    background-color:white;
    padding-top:15px;
    position:absolute;
    display:none;
    margin:-9px -72px;
}
.window1 p{
    text-align:center;
    font-size:16px;
    line-height:30px;
    color:#000;

}
.window1 .p2{
    color:#29abe2;
}
.window2{
    width:350px;
    height:130px;
    border:5px solid #e5e5e5;
    background-color:white;
    padding-top:15px;
    position:absolute;
    display:none;
    margin:-9px -72px;
}
.window2 p{
    text-align:center;
    font-size:16px;
    line-height:30px;
    color:#000;
}

.window2 .p2{
    color:#29abe2;
}

.window3{
    width:350px;
    height:130px;
    border:5px solid #e5e5e5;
    background-color:white;
    padding-top:15px;
    position:absolute;
    display:none;
    margin:-9px -72px;
}
.window3 p{
    text-align:center;
    font-size:16px;
    line-height:30px;
    color:#000;
}

.window3 .p2{
    color:#29abe2;
}
/*--模态框--*/
.modal-content{
    width: 360px !important;
}
#modal-main{
    padding:30px !important;
    width: 100% !important;
}
#modal_title p{
    font-size: 20px;
    color: #333;
    display: inline;
}
.form-group{
    margin-top: 30px;
}
.form-group input{
    width: 300px !important;
    height: 40px;
    font-size: 14px;
    color:#666;
}
.modal_label{
    font-size: 14px;
    color:#29abe2;
}
.btn-group-00{
    margin-top: 30px;
}
.btn-group{
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -wekit-border-radius:5px;
    -o-border-radiuss:5px;
    border-radius:5px;

    -moz-box-shadow:0;
    -ms-box-shadow:0;
    -wekit-box-shadow:0;
    -o-box-shadow:0;
    box-shadow:0;
}
#btn01{
    width: 138px;
    height: 40px;
    margin-right: 16px;
    background-color: #999 !important;
    color:#fff;
    font-size: 16px;
    border: 0 none;
    border-radius: 4px;
}
#btn01:hover{
    background-color: #666 !important;
}
#btn02{
    width: 138px;
    height: 40px;
    background-color: #29abe2;
    color: #ffffff;
    font-size: 16px;
    border: 0 none;
    border-radius: 4px;
}
#btn02:hover{
    background-color:#1998ce;
}
.window{
    width:350px;
    height:130px;
    border:5px solid #e5e5e5;
    background-color:white;
    padding-top:23px;
    position:absolute;
    display:none;
    margin:0px -72px;
}
.window p{
    text-align:center;
    font-size:16px;
    line-height:20px;
    color:#000;
}

.window .p2{
    color:#29abe2;
}