#pull {
    padding: 20px 40px;
}
#pull-head {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
#pull-body .record .head {
    font-size: 0px;
    cursor: pointer;
}
#pull-body .record .body {
    border-left: 1px solid #ccc;
    margin-left: 7px;
    margin-top: -6px;
    padding: 15px 0px 25px  27px;
}
#pull-body .record .head>span {
    display: inline-block;
    font-size: 16px;
    color: #29abe2;
}
#pull-body .record .head .icon {
    background-image: url("/img/images3_138.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 20px;
}
.pagination a, .pagination span{
    padding:0.5em 1em;
}
.pagination a{
    border:1px solid #e5e5e5;
    color: #666;
    border-radius: 3px;
}
.pagination span.current{
    border-radius: 3px;
    background: #29abe2;
}
.pagination{
    /*width: 100%;*/
    text-align: right;
}
.pagination a,.pagination span{
    display: inline;
    float: none;
}
.pagination a:hover{
    background: #29abe2;
    border: 1px solid #29abe2;
    color: #fff;
    transition:background 0.45s ease 0s,border 0.45s ease 0s;
}

.acomRe{
    font:14px bold;color:#43609f;
}
.acomRe:hover{
    text-decoration: underline;
}
/*---------------------------------------------------------------*/
.title{
    float:left;
    margin-top: 40px;
    width:100%;
    height: 85px
}
.title p{
    padding-left: 10px;
    padding-bottom: 40px;
    font-size: 27px;
    color: #333333;
    border-bottom: 1px solid #8c97cd;
}
.tabs{
    float:left;
    width:1170px;
    height:50px;
    border-bottom: 1px solid #8c97cd;
    margin-bottom: 30px;
}

.request {
    float:left;
    width:25%;
    padding-top: 10px;
    padding-left: 122px;
    font-size: 18px;
    height:50px;
    color: #43609f;
}
.request a,.request a:hover{
    text-decoration: none;
}
.request sup span{
    color: #e60012;
    font:12px bold;
    margin-left: 10px;
    border:1px solid #e60012;
    padding:3px 5px;
    border-radius: 10px;
}
.request:hover{
    border-bottom:4px solid #43609f;
    cursor: pointer;
    font-weight: bold;
}
.ortherMessage {
    color: #43609f;
    float: left;
    font-size: 18px;
    height: 50px;
    padding-left: 105px;
    padding-top: 10px;
    width: 25%;
}
.ortherMessage a,.ortherMessage a:hover{
    text-decoration: none;
}
.ortherMessage:hover{
    border-bottom:4px solid #43609f;
    cursor: pointer;
    font-weight: bold;
}

.ortherMessage sup span{
    color: #e60012;
    font:12px bold;
    margin-left: 10px;
    border:1px solid #e60012;
    padding:3px 7px;
    border-radius: 100%;
}
.info {
    width:100%;
    border:1px solid #bfbfbf;
    border-radius: 5px;
    position:relative;
    /*box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);*/
}
.infoBorderRed {
    width:100%;
    border:1px solid red !important;
    border-radius: 5px;
    position:relative;
    /*box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);*/
}

.info:visited{
    border:1px solid #e60012;
    border-radius: 5px;
}
.infoBorderRed:visited{
    border:1px solid #e60012;
    border-radius: 5px;
}
.record a:hover,.record a:focus{
    color:#395289;
}
.info-other {
    width:100%;
    border:1px solid #bfbfbf;
    border-radius: 5px;
    position:relative;
    /*box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);*/
}

/* 箭头 - :before and :after, 一起组成了好看的气泡小箭头 */
.info:before {
    position: absolute;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #bfbfbf;
    border-bottom: 7px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -8px;
    top: 10px;
    content: '';
}
.infoBorderRed:before{
    position: absolute;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid red !important;
    border-bottom: 7px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -8px;
    top: 10px;
    content: '';
}
.record a:hover,.record a:focus{
    color:#395289;
}
.info-other:before {
    position: absolute;
    display: inline-block;
    border-top: 8px solid transparent;
    border-right: 8px solid #bfbfbf;
    border-bottom: 8px solid transparent;
    border-right-color: rgba(242,250,254, 0.2);
    left: -8px;
    top: 10px;
    content: '';
}

/* 背景阴影*/
.info:after {
    position: absolute;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: -6px;
    top: 11px;
    content: '';
}
.infoBorderRed:after {
    position: absolute;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: -6px;
    top: 11px;
    content: '';
}

.info-other:after {
    position: absolute;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #f2fafe;
    border-bottom: 6px solid transparent;
    left: -6px;
    top: 11px;
    content: '';
}

.point{
    float:left;
    margin-left: 10px;
    margin-right: 45px;
}
.dot{
    float:left;
    height:15px;
    width:15px;
    border:1px solid #e60012;
    border-radius: 100%;
    color:#43609f;
}
.line{
    float:left;
    height:120px;
    border:1px solid #666666;
    width:2px;
    margin-left: -9px;
    margin-top: 15px;
    color:#bfbfbf;
}
.box{
    width:100%;
    padding-left:25px;
    margin-right:25px;
}



.messMark{
    border-bottom:4px solid #43609f;
    cursor: pointer;
    color: #23527c;
    font-weight: bold;
}

.messMark a,.messMark a:hover{
    text-decoration: none;
}
#allmess:hover{
    cursor: pointer;
}

/*pagination----分页样式开始*/

.pagination span.current{
    border: medium hidden !important;
    color: #ffffff !important;
    min-width: 1em;
    /*padding: 0.5em 1em;*/
    border-radius: 3px;
    background: #29abe2 none repeat scroll 0 0;
}
.pagination a:hover{
    background:none ;

}
.pagination{
    font-size: 100% !important;
    float: right;
}
.pagination a,.pagination span{
    padding: 0.5em 1em !important;
    min-width: 1em !important;
    color: #666 !important;
    border-radius: 3px !important;
    border: 1px solid #e5e5e5 !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    text-decoration: none !important;
    font-size: 80% !important;
}
.g-selects-wrap .sel-page a, .g-selects-wrap .sel-page span{
    border: 1px solid #e5e5e5 !important;
    border-radius: 3px;
    color: #666 !important;
    min-width: 1em !important;
    padding: 0.5em 1em !important;
    text-decoration: none !important;
}
.pagination .current.prev, .pagination .current.next{
    background: #fff none repeat scroll 0 0;
    border-color: #999;
    color: #999!important;
}
/*pagination----分页样式结束*/