body{
    background-color: #f5f5f5;
}
.infoBox{
    margin-top: 40px;
    width:400px;
    background-color: #fff;
    padding: 30px;
}
#title{
    border-bottom: 1px solid #cccccc;
    color: #333333;
    font-size: 20px;
    line-height: 40px;
    padding:0;
}

.labelBox{
    color: #FF0000;
    height: 40px;
    line-height: 40px;
}
.labelBox p{
    font-size:14px;
    color:#ea0c1d;
}
#label_four{
    display: none
}
.input-group{
    display: inline;
}
.input-group label{
    font-size:20px;
    color:#333333;
    margin-top: 40px;
    margin-right: 20px;
    width:85px;
}
#label1{
    padding-top: 5px;
}
#label2{
    padding-top: 14px;
}
#label3{
    padding-top: 14px;
}
.input-group input{
    margin-bottom: 30px !important;
    height:40px;
    border-radius:5px !important;
    display: inline;
    font-size: 14px;
    color: #333333;
}
#email{
    font-size:14px;
}
#ps{
    font-size:14px;
}
#psr{
    font-size:14px;
}

#accept{
    display: inline;
    text-align: center;
    width: 100%;
}
#accept .accept-item{
    margin-bottom:25px;
    text-align: left;
}
#item{
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: text-top;
    margin: 0;
}

#accept span{
    display: inline;
    font-size: 14px;
    color: #333333;
}
#registration{
    background: #29abe2 none repeat scroll 0 0;
    color: white;
    font-size: 18px;
    line-height: 38px;
    padding-bottom: 0;
    padding-top: 0;
    border: none;
    width: 100%;
}
#registration:hover{
    background:#1998ce none repeat scroll 0 0;
    color:#ffffff;
}
#login{
    text-align: center;
    height:40px;
    width:100%;
    font-size:14px;
    color:#333333;
    line-height: 40px;
}

#login span{
    font-size:14px;
    color:#666666;
    font-weight:bold;
    cursor:pointer;
}
#checkEmail{
    margin-top:40px;
    width:735px;
    height:300px;
    background-color:#fff;
    padding: 40px;
}

#successed{
    font-size:27px;
    color:#333333;
}
#info {
    width:100%;
}
#info p{
    font-size:16px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}
#info a{
    color: #0000FF;
    font-size:18px;
    font-weight: bold;
}
#info a:hover{
    color: #faaa68;
}
#protocol{
    font-weight: bold;
}
.modal-body {
    padding: 0;
}
#subscriptDialog .modal-dialog {
    width: 758px;

}
#subscriptDialog .modal-dialog .modal-content{
    background-color: #f6f9fd;
}

.shead{
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px 20px;
    font:16px bold;
    margin-top: 15px;
}
.sbody{
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px 20px;
}
.note{
    margin-top: 20px;
    padding: 0px 20px;
}
.sub9{
    margin-bottom: 20px;
}
/*#cannotreg{
	float: left;
	margin-top: 40px;
	border-top:5px solid #c8c8c8;
	border-bottom: 1px solid #395289;
	border-left: 1px solid #395289;
	border-right: 1px solid #395289;
	width:740px;
	height:300px;
}*/
#wrongmes{
    font-size:16px;
    margin-top: 127px;
    margin-left: 125px;
    margin-bottom: 70px;
    text-align: center;
}